*.iml
.gradle
.kotlin
/local.properties
local.properties
local.properties.example.local
classes.jar
app/src/main/res/raw/*.lc
!app/src/main/res/raw/.gitkeep
**/build/
*.apk
*.aab
*.jks
*.keystore
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
.cxx
